body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
    margin: 13px 0;
}

#main-menu {
    margin-top: 15px;
    background-color: rgb(157, 181, 226);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.menu-link {
    text-decoration: none;
}

.menu-link:hover {
    text-decoration: underline;
}